.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    flex: 1 1 calc(25% - 20px); 
    box-sizing: border-box;
    background-color: #f8f8f8;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
}


@media (max-width: 1200px) {
    .card {
        flex: 1 1 calc(33.33% - 20px); 
    }
}

@media (max-width: 768px) {
    .card {
        flex: 1 1 calc(50% - 20px);
}

@media (max-width: 480px) {
    .card {
        flex: 1 1 100%; 
    }
}
