@{
    var tipoUsuario = User.FindFirst(System.Security.Claims.ClaimTypes.Role)?.Value;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GastroLink</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MVCGastroLink.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (tipoUsuario == "COZINHEIRO") {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Pedido" asp-action="TodosPedidos">Todos os Pedidos</a>
                            </li>
                        }
                        
                        @if (tipoUsuario == "GARÇOM") {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Pedido" asp-action="CriarPedido">Criar Pedido</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Pedido" asp-action="PedidosFinalizados">Pedidos Finalizados</a>
                            </li>
                        }

                        @if (tipoUsuario == "CAIXA") {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Caixa" asp-action="Caixa">Caixa</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - GastroLink - João Pedro Gerotto Fernandes
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
